* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
}

/* @media (min-width: 1200px) {
}
@media (max-width: 1200px) and (min-width: 600px) {
}
@media (max-width: 600px) {
} */

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  letter-spacing: -1px;
  position: relative;
  font-family: "Pretendard Variable";
}

.status {
  width: 50%;
  height: 100vh;
  background-color: #ccc;
  position: relative;
}
.status .stat_imgBox {
  width: 50%;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
  background-color: #ffc990;
}
.status img {
  display: block;
  width: 100%;
  margin: 0px auto;
  height: 100%;
  object-fit: contain;
}
.status .bun_bg {
  width: 100%;
  margin: 0px auto;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  aspect-ratio: 5 / 6;
}
.status .bunny {
  /* max-width: 600px; */
  aspect-ratio: 5 / 6;
  animation: float 3s ease-in-out infinite;
}
.status .bunny.up {
  /* max-width: 600px; */
  aspect-ratio: 5 / 6;
  animation: floatup 3s ease-in-out infinite;
}
.status .bunny.down {
  /* max-width: 600px; */
  aspect-ratio: 5 / 6;
  animation: floatdown 3s ease-in-out infinite;
}
.status .bun_1 {
  /* max-width: 600px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: float2 5s ease-in-out infinite;
}
.status .bun_1.up {
  animation: floatup2 3s ease-in-out infinite;
}
.status .bun_1.down {
  animation: floatdown2 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: scale(1.05) translateY(-20px) rotate(0deg);
  }
  50% {
    transform: scale(1) translateY(20px) rotate(3deg);
  }
  100% {
    transform: scale(1.05) translateY(-20px) rotate(0deg);
  }
}
@keyframes float2 {
  0% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  50% {
    transform: translate(-50%, -55%) rotate(-2deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
}
@keyframes floatup {
  0% {
    transform: translateY(20%) rotate(2deg);
  }
  50% {
    transform: translateY(10%) rotate(-2deg);
  }
  100% {
    transform: translateY(20%) rotate(2deg);
  }
}
@keyframes floatup2 {
  0% {
    transform: translate(-60%, -40%) rotate(2deg);
  }
  50% {
    transform: translate(-60%, -30%) rotate(-2deg);
  }
  100% {
    transform: translate(-60%, -40%) rotate(2deg);
  }
}
@keyframes floatdown {
  0% {
    transform: translateY(-10%) rotate(2deg);
  }
  50% {
    transform: translateY(-5%) rotate(-2deg);
  }
  100% {
    transform: translateY(-10%) rotate(2deg);
  }
}
@keyframes floatdown2 {
  0% {
    transform: translate(-55%, -60%) rotate(2deg);
  }
  50% {
    transform: translate(-55%, -70%) rotate(-2deg);
  }
  100% {
    transform: translate(-55%, -60%) rotate(2deg);
  }
}

/* 게임창 */
#game {
  width: 50%;
  height: 100vh;
  /* overflow-y: hidden; */
}

/* game1 */
.game1 {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  position: relative;
  align-content: center;
}

/* 모달창 */
.how {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.how i {
  font-size: 30px;
  font-weight: normal;
  margin-left: 5px;
}
.how_modal {
  position: absolute;
  background-color: #00000083;
  backdrop-filter: blur(2px);
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;

  /* display: none; */
}
.how_modal.on {
  opacity: 1;
  z-index: 10;
  /* display: block; */
}
.how_modal .modalBox {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%) scale(0);
  background-image: linear-gradient(0deg, #ffffff80, #fffffffb);
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 700px;
  padding: 50px;
  box-sizing: border-box;
  word-break: keep-all;
  align-content: center;
  border-radius: 4vw 0 4vw 4vw;
  /* opacity: 0; */
}
.how_modal .modalBox.on {
  transform: translate(50%, -50%) scale(1);
  transition-delay: 1s;
  transition: 1s;
}
.how_modal .modalBox i {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 30px;
  cursor: pointer;
  color: #dc143c;
  transition: 0.5s;
}
.how_modal .modalBox i:hover {
  transform: rotate(180deg) scale(1.2);
  text-shadow: 0px 0px 6px #7c09209d;
  color: #f00;
}
.how_modal .modalBox h2 {
  color: #ff4811;
  text-shadow: 2px 2px 0px #ffbe92;
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}
.how_modal .modalBox li {
  margin: 40px 0px;
  font-size: 20px;
  line-height: 1.6;
}

/* 우측 게임창: 게임 시작 전 */
.game1 .gameSlide {
  text-align: center;
}
.game1 .gameSlide h1 {
  color: #ff4800;
  font-size: 4.2vw;
  text-shadow: 3px 3px 0px #ffc49c;
}
.game1 .gameSlide p {
  margin: 10px 0px 30px;
  line-height: 1.5;
}
.game1 .gameSlide #start {
  display: block;
  width: 60%;
  max-width: 400px;
  height: 60px;
  font-size: 2vw;
  text-transform: uppercase;
  border-radius: 500px;
  border: 2px solid #ff8736;
  margin: 20px auto 0px;
  font-weight: bold;
  letter-spacing: -2px;
  box-shadow: 2px 2px 4px #664242a1;
  cursor: pointer;
  transition: 0.2s;
}
.game1 .gameSlide #start:hover {
  /* background-color: #ccc; */
  border: 2px solid #ff4811;
  background-color: #ffa500;
  color: #fff;
  box-shadow: inset 0px 2px 5px #664242a1;
  font-size: 2.3vw;
}

/* 우측 게임창: 게임 시작 후 */
.game2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #ffc6c6, #fff1c3, #c4e4ff);
  text-align: center;
  align-content: center;
  position: relative;
}
.game2 form {
  width: 50%;
  margin: 0px auto;
}
.game2 form #user {
  width: 100%;
  height: 40px;
  margin: 0px auto;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
}
.game2 form div {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.game2 form div button {
  display: block;
  padding: 10px;
  width: 50%;
  font-size: 1.4vw;
  border-radius: 5px;
  border: 1px solid;
  margin-top: 10px;
  box-shadow: 0px 0px 5px #e4410090;
}
.game2 form div #play {
  border-color: #e44100;
  background-color: #ff8352;
  color: #fff;
  font-weight: 600;
}
.game2 form div #reset {
  border-color: #ffa500;
}

/* result */
.result {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #00000070;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  color: #fff;
  text-align: center;
  align-content: center;

  display: none;
}
.on {
  transition: 2s;
  display: block;
}
.result h2 {
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #00000070;
}
.result p {
  line-height: 1.5;
  font-size: 20px;
}
.result p span {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 0px #ffd000;
  margin: 0px 4px;
}
.result img {
  display: block;
  height: 50vh;
  margin: 0px auto 20px;
}
.result #replay {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #00000050;
}
.result .over {
  color: #0d448d;
  text-shadow: 0px 0px 10px #ffffffda;
}
.result .clear {
  color: #ff788a;
  text-shadow: 2px 2px 0px #fffb00;
}

#life {
  position: absolute;
  left: 22px;
  top: 20px;
  font-size: 20px;
}
#updown {
  font-size: 20px;
}
#updown li {
  transition: 1s;
  opacity: 0.5;
  margin: 10px;
}
#updown li .small {
  color: #1167d8;
}
#updown li .big {
  color: #db2754;
}
#updown li:last-child {
  font-weight: bold;
  font-size: 30px;
  margin: 15px 0px 20px;
  opacity: 1;
}
